
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $(document).ready(function(){
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if($(this).text() == '<<<<')
        {
            $(this).text('>>>>');
        }
        else
        {
            $(this).text('<<<<');
        }
     });
     $("#menu-toggle").text('<<<<');
    })
    </script> 
</body>
</html>