<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="#">
                PayCash
            </a>
        </li>
        <li>
            <a href="/home">Dashboard</a>
        </li>
        <li>
            <a href="/event/createevent">Events create </a>
            <a href="/event/eventlisting">Events listing</a>
        </li>
         <li>
            <a href="/booking/createbooking">Booking create </a>
            <a href="/booking/bookinglisting">Booking listing</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/profile">Profile</a>
        </li>
        <li>
            <a href="/logout" >Logout</a>
        </li>
    </ul>
</div>