<% include ./partials/header %>
<!-- views/profile.ejs -->
    <!-- Sidebar -->
    <div id="wrapper" class="toggled">
        <% include ./partials/navigation %>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <h1>Booking Listing</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <div class="containerq">
                    <form action="/booking/edit" method="post">
                      <div class="form-group">
                        <label for="email">Booking Name:</label>
                        <input type="text" value="<%= bookingRecord.local.name; %>" class="form-control" id="event" placeholder="Enter event" name="name">
                      </div>

                      <div class="form-group">
                          <label for="sel1">Select Event</label>
                          <select class="form-control" id="sel1" name="id_event">
                             <%if(eventArray.length){%>
                                 <% for(let eventRecord of eventArray){ %>
                                     <option value="<%= eventRecord._id; %>" <% if((eventRecord._id).toString() == bookingRecord.local.id_event) {%> selected="selected"<%}%> ><%= eventRecord.local.name; %></option>
                                <%}%>
                            <%}%>        
                          </select>
                         </div>

                      <input type="hidden" value="<%= bookingRecord._id; %>" class="form-control" id="id" name="id"/>  
                      <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                 
               
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
  
<% include ./partials/footer %>
